@import url('https://fonts.googleapis.com/css?family=Muli:500,600,800');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body {
    font-family: "Muli";
}

.main-nav {
    background-color: white;
}

.wrapper {
    width: 88%;
    margin: auto;
}

.navbar-default .navbar-nav>li>a {
    font-size: 12px;
    color: #222222;
    font-weight: 800;
}

.navbar-default .navbar-nav>li>a:hover {
    text-decoration: underline;
}

.dropdown-menu>li>a {
    font-size: 10px;
    letter-spacing: 0.5px;
}

.dropdown-menu>li>a:hover {
    text-decoration: underline;
    background-color: white;
}

.navbar-default .navbar-brand {
    font-family: Abril Fatface;
    font-size: 36px;
    color: #222222;
    padding-right: 5px;
}

.navbar-default .navbar-brand:hover {
    color: #303030;
}

nav p {
    width: auto;
    display: inline;
    position: absolute;
    bottom: -3px;
}

/** DASHBOARD **/
.dashboard {
    padding: 10px;
    width: 90%;
    margin-top: 10px;
}

#sidenav {
    border-style: solid;
    border-width: 0px;
    border-right-width: 1px;
}

#sidenav li a {
    font-size: 12px;
    font-weight: 600;
    color: #222222;
    padding: 3px;
    padding-left: 10px;
    border-radius: 0px;
}

#sidenav li a:hover  {
    background-color: #222222;
    color: snow;
    font-weight: 500;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #d2d2d2;
}

.btn {
    background-color: #222222;
    color: snow;
    margin-top: 5px;
    border-radius: 2px;
    font-size: 11px;
    letter-spacing: 1px;
}

.btn:hover {
    text-decoration: underline;
    background-color: black;
    color: snow;
}

/** INVENTORY **/
#cover-div {
    text-align: center;
    padding: 15px;
}

.modal .modal-header {
    padding: 10px;
    background-color: #222222;
    color: snow; 
    letter-spacing: 2px;
    font-size: 11px;
}

.modal .modal-header h4 {
    font-size: 12px;
    margin: 0px;
    margin-left: 5px;
}

.modal .close {
    color: snow;
}

.modal .modal-content {
    padding: 0px;
}

.modal .form-group {
    margin-bottom: 5px; 
}

.modal input, .modal select {
    height: 25px;
    border-radius: 3px;
    font-size: 11px;
}

.modal .form-group label {
    font-size: 11px;
    margin: 0px;
}

.modal .radio-inline {
    padding-top: 5px;
    line-height: 320%;
    font-size: 11px;
    font-weight: 800;
}

#btn-upload {
    width: 100%;
}

#addbook-modal .abdiv-bottom {
    padding: 0px;
}

.btn-okay {
    float: right;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/** ADDBOOK-DIV > INVENTORY LIST **/
.table-div {
    margin: 20px;
}

.bookdiv .img-responsive {
    width: 80%;
    margin: 0 auto;
}

thead {
    font-size: 11px;
    letter-spacing: 1px;
}

td {
    font-size: 12px;
}

.bookdiv td a {
    color: #222222;
    text-decoration: underline;
}

/** MANAGE ACCOUNT **/
#addaccount-modal .modal-body, #delaccount-modal .modal-body{
    margin: 40px;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.btn-tabledelacc {
    background-color: white;
    color: #222222;
    margin: -5px;
    border-style: none;
    font-size: 15px;
}

.btn-tabledelacc:hover {
    background-color: white;
    color: black;  
}

.btn-confirmdelete {
    background-color: #c5120c;
}

.btn-confirmdelete:hover {
    background-color: #90120e;
}

/** ORDER TRACKING **/
.stylish-input-group .input-group-addon{
    background: white !important; 
}

.stylish-input-group .form-control{
	border-right:0; 
	border-color: #ccc;
    width: 25%;
    float: right;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

/** ORDER DETAILS MODAL **/
#details-modal  .row {
    padding: 15px;
    padding-bottom: 5px;
}

#details-modal .detail-subheader {
    font-size: 12px;
    font-weight: 700;
    font-style: italic;
}

#details-modal p {
    font-size: 12px;
    margin: 0px;
}

#details-modal  #name {
    font-size: 12.5px;
    font-weight: 600;
}

.labels {
    width: 80px;
    display: inline-table;
}

.info {
    display: inline-table;
    font-weight: 700;
}

#ordernum:hover, #bookid:hover {
    cursor: pointer;
}
