@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,800');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Nixie+One');

body {
    font-family: "Muli";
}

/** NAV **/
.main-nav {
    background-color: white;
}

.wrapper {
    width: 80%;
    margin: auto;
}

.navbar-default .navbar-brand {
    font-family: Abril Fatface;
    font-size: 36px;
    color: #222222;
}

.navbar-default .navbar-brand:hover {
    color: #303030;
}

#btn-home {
    color: #222222;
    margin-top: 18px;
    float: right;
    background-color: transparent;
    font-size: 12px;
    border-style: none;
    font-weight: 800; 
}

#btn-home:hover {
    text-decoration: underline;
}

/** BODY **/
#body {
    border-style: solid;
    border-width: 1px;
    width: 78%;
    padding: 55px;
    border-radius: 2px;
}

#body .wrapper {
    width: 43%;
}

#body h2 {
    letter-spacing: 1.5px;  
    font-weight: 300;
}

#body p {
    font-size: 12px;
    line-height: 150%;
}

#body .col-sm-5 {
    padding: 0px;
}

#body .form-control {
    border-radius: 1px;
}

#body .errormsg {
    color: crimson;
    font-size: 10px;
    font-style: italic;
    margin-top: -5px;
    letter-spacing: 0.2px;
    display: none;
}

#btn-submit {
    background-color: #222222;
    color: snow;
    margin-top: 5px;
    border-radius: 2px;
    font-size: 11px;
    letter-spacing: 1px;
    float: right;
}

#btn-submit:hover {
    text-decoration: underline;
    background-color: black;
    color: snow;
}