@import url('https://fonts.googleapis.com/css?family=Muli:400,600,800');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Nixie+One');

body {
    font-family: "Muli";
}

/** BODY **/
#feed {
    border-style: solid;
    border-width: 1px;
    width: 77%;
    padding: 30px;
    border-radius: 2px;
}

.banner {
    background-color: #ec0000;
    text-align: center;
    padding: 30px;
    opacity: 0.85;
    margin: 0;
    border-radius: 2px;
}

.banner p {
    color: snow;
    font-size: 35px;
    font-family: Nixie One;
    letter-spacing: 2px;
    margin: -5px;
    color: snow;
}

.banner a {
    color: snow;
    font-size: 10px;
    letter-spacing: 2px;
}

h5 {
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}

/** BOOK DIV **/
#feed .book-div {
    font-size: 11px;
    text-align: center;
    margin-bottom: 40px;
}

.book-div .img-responsive {
    width: 55%;
    margin: auto;
}
.book-div p {
    margin: 0px;
}

.book-div .title {
    font-size: 13px;
    letter-spacing: 1px;
}

.book-div .author {
    font-weight: 700;
    letter-spacing: 0.5px;
}

.book-div .price {
    font-size: 13px;
    font-style: italic;
}

/*BOOK LINK*/

.bookLink{
	cursor:pointer;
}