@CHARSET "UTF-8";

.signup-bar {
    background-color: #222222;
    color: snow;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
}

.ss-bar {
    width: 80%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ss-bar .col-sm-8, .col-sm-3, .col-sm-1 {
    padding-left: 2px;
    padding-right: 2px;
    
}

.ss-bar .col-sm-1 {
    text-align: center;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}

.stylish-input-group .form-control{
	border-right:0; 
	border-color: #ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

.btn .badge {
    top: -4px;
}

.ss-bar .btn-cart {
    background-color: transparent;
    border-style: none;
    font-size: 21px;
    padding: 2px;
}

.ss-bar .btn-navsignin {
    background-color: transparent;
    font-size: 15px;
    border-style: none;
    font-weight: 800; 
}

.ss-bar .btn-navsignin:hover {
    text-decoration: underline;
}

.main-nav {
    background-color: white;
}

.wrapper {
    width: 80%;
    margin: auto;
}

.navbar-default .navbar-nav>li>a {
    font-size: 11px;
    color: #222222;
    font-weight: 700;
}

.navbar-default .navbar-nav>li>a:hover {
    text-decoration: underline;
}

.dropdown-menu>li>a {
    font-size: 10px;
    letter-spacing: 0.5px;
}

.dropdown-menu>li>a:hover {
    text-decoration: underline;
    background-color: white;
    
}

.navbar-default .navbar-brand {
    font-family: Abril Fatface;
    font-size: 36px;
    color: #222222;
}