@import url('https://fonts.googleapis.com/css?family=Muli:400,600,800');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Nixie+One');

body {
    font-family: "Muli";
}

/** NAV **/
.main-nav {
    background-color: white;
}

.wrapper {
    width: 80%;
    margin: auto;
}

.navbar-default .navbar-brand {
    font-family: Abril Fatface;
    font-size: 36px;
    color: #222222;
}

.navbar-default .navbar-brand:hover {
    color: #303030;
}

.navbar-text {
    float: right;
    font-weight: 600;
    letter-spacing: 0.5px;  
}

/** BODY **/
#body {
    border-style: solid;
    border-width: 1px;
    width: 78%;
    padding: 55px;
    border-radius: 2px;
}

#body .wrapper {
    width: 43%;
}

#body h3 {
    letter-spacing: 1.5px;  
    font-weight: 300;
}

#body .form-control {
    border-radius: 1px;
}

#btn-submit {
    background-color: #222222;
    color: snow;
    margin-top: 5px;
    border-radius: 2px;
    font-size: 11px;
    letter-spacing: 1px;
    float: right;
}

#btn-submit:hover {
    text-decoration: underline;
    background-color: black;
    color: snow;
}