@import url('https://fonts.googleapis.com/css?family=Muli:400,600,800');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Nixie+One');

body {
    font-family: "Muli";
}

/** BODY **/
#feed {
    border-style: solid;
    border-width: 1px;
    width: 77%;
    padding: 30px;
    border-radius: 2px;
}

#feed .banner {
    background-color: #ec0000;
    text-align: center;
    padding: 30px;
    opacity: 0.85;
    margin: 0;
    border-radius: 2px;
}

#feed .banner p {
    color: snow;
    font-size: 35px;
    font-family: Nixie One;
    letter-spacing: 2px;
    margin: -5px;
    color: snow;
}

#feed .banner a {
    color: snow;
    font-size: 10px;
    letter-spacing: 2px;
}

#searchresult-div h5 {
    font-weight: 800;
    margin-bottom: 20px;
}

#filters-div h5 {
    letter-spacing: 1px;
    margin-bottom: 20px;
}

#filters-div p {
    font-size: 11px;
    letter-spacing: 1px;
}

#filters-div label {
    font-size: 11px;
    line-height: 190%
}

#feed .checkbox {
    margin: 0px;
}

#feed .btn {
    background-color: #222222;
    color: snow;
    margin-top: 5px;
    margin-left: -2px;
    border-radius: 2px;
    font-size: 11px; 
}

#feed .btn:hover {
    text-decoration: underline;
    background-color: #222222;
    color: snow;
}

/** BOOK DIV **/
#feed .book-div {
    font-size: 11px;
    text-align: center;
    margin-bottom: 40px;
}

.book-div .img-responsive {
    width: 65%;
    margin: auto;
    margin-bottom: 10px;
}

.book-div p {
    margin: 1.5px;
    margin-left: 25px;
    margin-right: 25px;
}

.book-div .title {
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 130%;
    color: #222222;
}

.book-div .title:hover {
    cursor: pointer;
    color: #222222;
}

.book-div .author {
    font-size: 10.5px;
    font-weight: 800;
    letter-spacing: 0.5px;
}

.book-div .price {
    line-height: 110%;
    font-size: 12.5px;
    color: #617C93;
}